<h1>Welcome {{uid}}</h1>

<input type="text" value={{uid}}>
<table class='table table-hover'>
<tr><th>EID</th><th>Name</th><th>Salary</th></tr>
{{#each data}}
      <tr>
            <td>{{this.eid}}</td>
              <td>{{this.ename}}</td>
                <td>{{this.salary}}</td>
      </tr>
{{/each}}
</table>
