<h1>Welcome {{uid}}</h1>

{{#if msg}}
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{msg}}</strong>
</div>
{{/if}}
<table class='table table-hover'>
<tr><th>EID</th><th>Name</th><th>Salary</th></tr>
{{#each data}}
      <tr>
            <td>{{this.eid}}</td>
              <td>{{this.ename}}</td>
                <td>{{this.salary}}</td>
    <td><a href="/deleteEmp?eid={{this.eid}}" onclick="return confirm('Do you really want ot delete?')">Delete</a></td>
      </tr>
{{/each}}
</table>
